body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.header-master {
  position: relative;
  background-image: url('/src/assets/my-portfolio-hero-image.png'); /* 또는 import된 경로 */
  background-size: cover;       /* 이미지를 요소에 맞게 꽉 채움 */
  background-position: center;  /* 중앙 정렬 */
  background-repeat: no-repeat; /* 반복 방지 */
  width: 100vw;
  height: 40vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 검은색 투명 오버레이 */
}
  